
@font-face{
	font-family:Nunito-regular;
	src:url(../Fonts/NunitoSans/NunitoSans-Regular.ttf);
}
@font-face{
	font-family:Nunito-bold;
	src:url(../Fonts/NunitoSans/NunitoSans-Bold.ttf);
}
@font-face{
	font-family:Nunito-extrabold;
	src:url(../Fonts/NunitoSans/NunitoSans-ExtraBold.ttf);
}
@font-face{
	font-family:Heebo-regular;
	src:url(../Fonts/Heebo/Heebo-Regular.ttf);
}
@font-face{
	font-family:Pacifico-regular;
	src:url(../Fonts/Pacifico/Pacifico-Regular.ttf);
}